#wrapper {
  background-color: #111d5e;
  margin: 0;
}

h2 {
  color: #dae1e7;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}

h3 {
  color: #ffbd69;
}

.number-input {
  width: 80px;
  margin: 0 10px;
}